 .container{
    font-family: "Red Hat Display";
    justify-content: center;
    align-items: centre;
    text-align: left;
    border-radius: 3;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
  width: 40%;
  border: 1px;
  padding: 30px;
  border-radius: 25px;
 }
 .img{ 
    text-align: center;
   border-top-right-radius:  25%px;
   border-top-left-radius: 25% px;
   width: 100%;

}
/*
.sec-1{
   text-align: center;
   font-size: 18px ; 
}
*/